[submodule "external/TPT"]
	path = external/TPT
	url = https://github.com/azshue/TPT.git
[submodule "external/CLIP_Explainability"]
	path = external/CLIP_Explainability
	url = https://github.com/sMamooler/CLIP_Explainability.git
